.profil{
    width: 750px;
    height: 450px;
    
}
.profil img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
}
button{
    padding: 10px 25px;
    border-radius: 35%;
   
}
.btn_profil{
    display: flex;
   float: inline-end;
   margin-bottom: 90%;
}
.profil p{
    color: white;
}
/* .profil-avatar{
  padding-top: 60%;
} */
.bgd-profil{
display: flex;
background-image: url("image 3.png");
width: 100%;
height: 70%;
position: sticky;
top: 8%;
bottom: 0px;
left: 0px;  
}
.text_p{
    margin-top: 20%;
}
.svg-profil{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    color: white;
    top: 10%;
}
.following{
    display: flex;
    gap: 10px;
}
.profil-avatar img{
    display: flex;
    position: absolute;
    margin-top: -70px;
    width: 250pX;
    height: 150pX;
}