.profil{
    width: 750px;
    height: 450px;
    
}
.profil img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
}
button{
    padding: 10px 25px;
    border-radius: 35%;
   
}
.btn_profil{
    display: flex;
   float: inline-end;
   margin-bottom: 90%;
}
.profil p{
    color: white;
}
/* .profil-avatar{
  padding-top: 60%;
} */
.bgd-profil{
display: flex;
background-color: aqua;
width: 100%;
height: 70%;
position: sticky;
top: 0px;
bottom: 0px;
left: 0px;  
}
.svg-profil{
    display: flex;
    flex-direction: column;
    background-color: brown;
    justify-content: space-between;
}

