* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --colorLight: #FFFFFF;
    --colorDark: #000000;
    --colorBlue: #1D9BF0;
    --colorGray: #1a1a1a;
    --colorPal: #9f9e9e;
    --colorTrends:#6E767D;
    --colorTrend: rgb(22, 23, 31);
}

.body {
    display: flex;
    gap:15px;
    background-color: var(--colorDark);
    width: 100%;
}

.Navbar {
    display: flex;
    width: 25%;
    gap: 35px;
    padding-left: 5%;
    
}
.btn_navbar{
   padding: 15px 45px;
   margin-bottom: 45px;
   padding: 5%;
   display: flex;
    gap: 10%;
   
}

.Navbar ul {
    font-size: 0.1rem;
    list-style: none;
    
}
.Navbar a{
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
}
.navbar_avatar{
    margin-top: 60%;
}
.navbar_text{
    display: flex;
    gap: 10%;
    padding: 5%;
    
}
.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 2340px;
    
}

.timeline {
    display: block;
    border: 1px solid var(--colorGray);
    position: relative;
    
    
}

.tweets {
    display: flex;
    border: 1px solid var(--colorGray);
    padding: 30px;

}

.tweets img {
    width: 40px;
    height: 40px;
}

.tweets .tweet-image {
    display: flex;
    justify-content: center;
    width: 40rem;
    height: 20rem;
    border-radius: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--colorGray);
    padding: 15px;
}

.page-title {
    color: var(--colorLight);
}

.top-tweets {
    float: right;
    width: 20px;
    height: 20px;
}

.tweet-editor {
    padding: 15px;
}

.avatar {
    display: block;
    float: inline-start;
    padding-bottom: 5%;
}

.tweet-editor-input {
    text-decoration-color: var(--colorPal);
    background-color: #000000;
    border: none;
    font-size: 25px;
    padding-top: 3%;
}

.tweet-editor-actions {
    display: flex;
    column-gap: 15px;
    bottom: 0;
    position: relative;
    top: 50px;
    left: 0;
    padding: 40Px;
}

.button {
    float: inline-end;
    background-color: var(--colorBlue);
    padding: 15px 45px;
    border-radius: 70px;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 50%;
}

button {
    text-decoration-color: #FFFFFF;
}

h3 {
    color: var(--colorLight);
    padding-left: 10%;


}

p {
    color: var(--colorLight);
    padding-bottom: 5%;
}

.text {
    display: flex;
    margin-left: 10%;
    top: 0px;
    font-size: 19px;

}

.tweet {
    border: 1px solid var(--colorGray);
    top: 0px;
    bottom: 15px;
    font-size: 19px;


}

.tweet-action {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    padding: 15px;


}

.tweet-title {
    display: flex;
    border: 1px solid var(--colorGray);
    padding: 30px;
}
.Trends{
    display: flex;
    flex-direction: column; 
}
.Trends input{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5%;
    text-decoration-color: white;
    background-color:var(--colorTrend);
    border: none;
    font-size: 15px;
   
}
.Trends a{
    color: var(--colorBlue);
    font-size: 20px;
    text-decoration: none;
   
}
.Trends_1{
    display: flex;
    flex-direction: column;
    background-color: var(--colorTrend);
    border-radius: 15px;
    margin-top: 10%;
    padding-left: 15%;
    padding-left: 5%;
    
   
}
.trend_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
span{
    color:var(--colorLight) ;
}
.trend_2{
    color: var(--colorPal);
}
.trend_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.nav{
  display: flex; 
  justify-content: center;
  background-color: var(--colorTrend);
  border-radius: 30px;
  padding: 3px;
  width: 100%;
  height: 52px;
  gap: 7%;
}
.trend_3{
    background-color: var(--colorTrend); 
   border-radius: 15px;
   margin-top: 10%;
    padding-left: 15%;
    padding-left: 5%;
    font-size: 20px;
    font-weight: 200;
}
.TT{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-left: 5%;
}
.showmore{
    color: #1D9BF0;
    
}
.btn_trend{
   padding: 10px 10px ; 
   border-radius: 35%;
}

